.env*
.idea
node_modules/
playwright-report/
allure-results/
allure-report/
test-results/
/test-results/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
.npm-cache/
.video-tools
.video-tools-offline
video-build*
